@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<h3>
    Instructiuni operator zona / utilaj
</h3>
<p>
    Dupa accesati site-ul sunteti directionat pe prima pagina unde, pentru trebuie sa introduceti numele de utilizator si parola pe care ati primit-o.
    Dupa logIn se deschide pagina Index a bazei de date. De asemenea puteti vedea in dreapta sus numele de utilazator cu care v-ati logat.
</p>
<p>
    Pentru a adauga o noua proba apasati butonul albastru din stanga sus "Create New". <br />
    Dupa ce completati campurile aferente apasati butonul "Create". Daca operatia a fost efectuata cu succes
    veti fi redirectionat la pagina Index si veti putea vedea pe ultima pozitie datele introduse.
</p>
<p>
    Daca introduceti gresit datele, anuntati operatorul calitate pentru a le edita/sterge.
</p>

<h3>
    Instructiuni operator calitate
</h3>
<p>
    Dupa accesati site-ul sunteti directionat pe prima pagina unde, pentru trebuie sa introduceti numele de utilizator si parola pe care ati primit-o.
    Dupa logIn se deschide pagina Index a bazei de date. De asemenea puteti vedea in dreapta sus numele de utilazator cu care v-ati logat.
</p>
<p>
    Pe pagina Index, dupa ce preluati proba din teren trebuie sa bifati casuta de la "Data Preluare" in dreptul probei cu Id-ul respectiv.
    In acest moment s-a inregistrat data si ora la momentul bifarii. Va aparea data dupa ce bifati casuta. Daca ati apasat din greseala pe casuta si doriti
    sa reveniti, apasati pe butonul Details si apoi Edit, si la Data preluare stergeti data inregistrata si puneti semnul minus "-", apoi apasati Save.
    Ar trebui sa vedeti din nou casuta.
    <br />
    Pentru a crea un rezultat, apasati in dreptul probei cu Idul respectiv, butonul Create.
    Dupa ce completati campurile aferente apasati butonul "Save". Daca operatia a fost efectuata cu succes
    veti fi redirectionat la pagina Index si veti putea vedea in dreptul probei Id-ul respectiv datele introduse.
</p>
<p>
    Daca introduceti gresit datele, puteti sa le editati/ stergeti. Aveti butoanele Details-Edit/ Delete in dreptul fiecarei probe.
</p>
<p>
    Aveti posibilitatea de a extrage datele in fisier Excel. <br />
    Dupa selectarea perioadei dorite apasati butonul Exporta in Excel
</p>

<h3>
    Instructiuni admin
</h3>
<p>
    Dupa Login, utilizatorul admin poate adauga probe, cat si rezultate. De asemenea are posibilitatea de a le edita si sterge.
    Poate exporta datele in fisier excel dupa selectarea perioadei dorite.
</p>
<p>
    Poate adauga si edita utilizatori. Dupa ce se log-eaza ii va aparea in bara de sus butonul Users. Pe aceasta pagina poate adauga useri, cu roluri
    definite, edita si sterge.
</p>

<h3>
    Instructiuni generale afisare date
</h3>
<p>
    Cand intrati prima data pe pagina Index vor fi afisate datele adaugate cu o luna inainte de data curenta (sunt afisate datele in From si To).<br />
    Selectati intervalul de timp pe care doriti sa il afisati ptin completarea datei de incepere in casuta From si data de final in casuta To. De asemenea
    veti observa ca dupa completarea casutei To, datele se vor afisa automat in perioada selectata.
</p>
<p>
    Selectati datele pe care doriti sa le vedeti. Implicit cand intrati prima data pe pagina Selectorul este pe Toate. <br />
    Prin selectia ProbaIntrodusa se vor afisa doar probele introduse de operator zona/ utilaj, fara cele care au fost preluate sau create rezultate.
    Prin selectia ProbaPreluata, vor fi afisate doar problele preluate, fara a fi afisate probele introduse dar nepreluate si fara cele care au rezultat.
    Prin selectia ProbaRezultat, se vor afisa doar probele care au rezultat, fara a fi afisate cele care au fost doar introduse sau doar preluate.
    Prina selectia ProbaRNC, vor fi afisate doar probele care au care rezultat RNC.
</p>