@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    Pentru intrebari legate de productie / datele introduse: <br />
    <a href="mailto:b.ene@donalam.ro">Bogdan Ene</a> <br />
</p>
<p>
    Pentru suport tehnic, legat de functionarea site-ului: <br />
    <a href="mailto:v.moisei@beltrame-group.com">Vlad Moisei</a><br />
</p>