@{
    ViewData["Title"] = "Home Page";
}

<br />
<a asp-controller="TrackingUsers"
   asp-action="Index"
   >Index Users</a>
<hr />
<a asp-controller="ProbaModels"
   asp-action="Index">Index Probe</a>