@model Don_SampleTrackingApp.ProbaModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>ProbaModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataPrelevare" class="control-label"></label>
                <input asp-for="DataPrelevare" class="form-control" />
                <span asp-validation-for="DataPrelevare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SiglaFurnizor" class="control-label"></label>
                <input asp-for="SiglaFurnizor" class="form-control" />
                <span asp-validation-for="SiglaFurnizor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sarja" class="control-label"></label>
                <input asp-for="Sarja" class="form-control" />
                <span asp-validation-for="Sarja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diametru" class="control-label"></label>
                <input asp-for="Diametru" class="form-control" />
                <span asp-validation-for="Diametru" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calitate" class="control-label"></label>
                <input asp-for="Calitate" class="form-control" />
                <span asp-validation-for="Calitate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumarCuptor" class="control-label"></label>
                <input asp-for="NumarCuptor" class="form-control" />
                <span asp-validation-for="NumarCuptor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipTratamentTermic" class="control-label"></label>
                <select asp-for="TipTratamentTermic" class="form-control" asp-items="Html.GetEnumSelectList<TipTT>()"></select>
                <span asp-validation-for="TipTratamentTermic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipCapBara" class="control-label"></label>
                <select asp-for="TipCapBara" class="form-control" asp-items="Html.GetEnumSelectList<CapBara>()"></select>
                <span asp-validation-for="TipCapBara" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipproba" class="control-label"></label>
                <select asp-for="Tipproba" class="form-control" asp-items="Html.GetEnumSelectList<TipProba>()"></select>
                <span asp-validation-for="Tipproba" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ObservatiiOperator" class="control-label"></label>
                <input asp-for="ObservatiiOperator" class="form-control" />
                <span asp-validation-for="ObservatiiOperator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataPreluare" class="control-label"></label>
                <input asp-for="DataPreluare" class="form-control" />
                <span asp-validation-for="DataPreluare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataRaspunsCalitate" class="control-label"></label>
                <input asp-for="DataRaspunsCalitate" class="form-control" />
                <span asp-validation-for="DataRaspunsCalitate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeUtilizatorCalitate" class="control-label"></label>
                <input asp-for="NumeUtilizatorCalitate" class="form-control" />
                <span asp-validation-for="NumeUtilizatorCalitate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RezultatProba" class="control-label"></label>
                <select asp-for="RezultatProba" class="form-control" asp-items="Html.GetEnumSelectList<Rezultat>()"></select>
                <span asp-validation-for="RezultatProba" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KV1" class="control-label"></label>
                <input asp-for="KV1" class="form-control" />
                <span asp-validation-for="KV1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KV2" class="control-label"></label>
                <input asp-for="KV2" class="form-control" />
                <span asp-validation-for="KV2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KV3" class="control-label"></label>
                <input asp-for="KV3" class="form-control" />
                <span asp-validation-for="KV3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Temperatura" class="control-label"></label>
                <input asp-for="Temperatura" class="form-control" />
                <span asp-validation-for="Temperatura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DuritateHB" class="control-label"></label>
                <input asp-for="DuritateHB" class="form-control" />
                <span asp-validation-for="DuritateHB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ObservatiiCalitate" class="control-label"></label>
                <input asp-for="ObservatiiCalitate" class="form-control" />
                <span asp-validation-for="ObservatiiCalitate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
